atomicwrites
attrs
Click
cmake
colorama
coverage
dlib
face-recognition
face-recognition-models
ffmpeg-python
Flask
future
gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
more-itertools
numpy
opencv-python-headless
packaging
Pillow
pluggy
py
pyparsing
pytesseract
pytest
pytest-cov
request-id
scipy
six
wcwidth
WebOb
Werkzeug
zipp
